<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThreeJS test</title>
    <style>
        body {
            margin: 0;
        }

        canvas {
            display: block;
        }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='three.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='appmain.js') }}"></script>
    <script type="module">
        window.onload = init();
    </script>
</head>
<body>
    <!-- HTML BODY -->
</body>
</html>